.article{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vw;
}

.title{
    font-size: clamp(43px, 6vw, 123px);
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: "Chonburi", serif;
    margin-left: 3vw;
}

.articleContent{
    font-size: clamp(21px, 0.3vw, 30px);
    color: #FFFFFF;
    font-family: "Lato", serif;
    text-align: justify;
    padding: 0 3vw 0 3vw;
}

.articleTags{
    color: #ffffff;
    display: flex;
    margin-left: 3vw;
    margin-bottom: 1.5vw;
    text-decoration: underline #59d5f4;
}

.imagePreview img {
    border-radius: 25px;
    margin-right: 3vw;
    min-width: 21vw;
    max-width: 15vw;
}
.charCount {
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    color: #59d5f4;
}