.header {
    text-align: center;
    margin-bottom: 40px;
    background-image: url("../../media/header_img-souslocean.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 800px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.top{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account
{
    height: 45px;
    width: 45px;
    background-color: #59d5f4;
    border-radius: 50%;
    display: flex;
    opacity: 80%;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
}
.account img{
    max-width: 70%;
    max-height: 100%;
}
.logo{
    width: 100px;
    height: auto;
    margin-left: 40px;
}

.middle{
    align-content: center;
    padding: 135px 40px 0 40px;
}
.header-title {
    font-size: clamp(70px, 10vw, 200px);
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Chonburi", serif;
}
.header-title span {
    color: #59d5f4;
}
.header-subtitle {
    font-size: clamp(17px, 2.5vw, 26px);
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Lato", serif;
}

.searchbar{
    margin-left: auto;
    background-color: #59d5f4;
    height: 35px;
    width: clamp(19.1vw, 320px, 320px);
    border-radius: 15px;
    margin-right: 40px;
    padding: 3px;
    display: flex;
    margin-top: 215px;
}

.searchbar input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: inherit;
    border: none;
    outline: none;
}
.searchbar img{
    transform: rotate(30deg);
}