.footer {
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    background-image: url("../../media/footer_img-souslocean.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 270px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    color: #FFFFFF;
  }
.clickable{
    display: grid;
    grid-template-areas: "a a";
    grid-auto-columns: 200px;
    align-content: center;
}

.logo{
    width: 100px;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}